.format-component {
    padding: 1em;

    .title-formatting {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
        margin-bottom: 12px;
        border-bottom: 1px solid var(--divider-color);
    }
}

.formatted-icon {
    color: var(--primary);
    display: inline;
    font-size: large;
}

.formatted-tag {
    font-size: 14px;
    height: 32px;
    padding: 0px 15px;
    outline: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--input-border-color);
}