.format-component {
    padding: 1em;

    .title-formatting {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
        margin-bottom: 12px;
        border-bottom: 1px solid var(--divider-color);
    }
}

.formatted-icon {
    color: var(--danger);
    border: 1px solid var(--danger);
    border-radius: 50%;
    font-size: 14px;
    display: flex;
}