.format-row {
    display: flex;
    flex-direction: column;

    .format-item {
        height: 32px;
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 1em 0px;
    }
}