.filter-by-data-menu {
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

	.menu-filter {
		padding: 4px;

		.range-picker-input {
			display: flex;
			justify-content: space-between;

			.ant-btn.ant-btn-icon-only {
				width: 32px;
				padding-inline-start: 0;
				padding-inline-end: 0;
				margin-inline-start: 4px;
			}
		}

		.ant-picker-range {
			position: relative;
			display: flex;
		}
	}
}

.ant-tooltip {
    pointer-events: none;
}