.filter-layer-modal {

    .ant-modal-content {
        padding: 5px;
    }

    .ant-tree .ant-tree-switcher {
        width: 0px;
    }

    .ant-modal-close {
        position: absolute;
        top: 5px;
        inset-inline-end: 5px;
    }
}