.content-filters {
    display: flex;
    flex-direction: column;

    label-item{
        span {
            border: 0.1em solid #8eb9fb;
            margin-top: -0.1em;
            margin-left: -0.1em;
            box-shadow: 0 0 0.2em #3b88fd;
        }

    }

    .content-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}