.ngw-webmap-description-panel {
    span {
        display: block;
        overflow-wrap: break-word;
    }

    a {
        color: #106a90;
    }

    >button.ngw-webmap-close-button {
        float: right;
        margin: 2px;
    }

    .imgDesc {
        height: auto;
    }

    .img-style {
        width: 100%;
        display: flex;
        justify-content: center;

        .img-item {
            width: 50%;
        }
    }

    .image {
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 5px;
        margin-inline-end: 5px;
    }


    p {
        display: block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 5px;
        margin-inline-end: 5px;
    }

    .p-padding {
        display: block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 5px;
        margin-inline-end: 5px;
        margin: 5px;
    }

    .item-description {
        margin: 0px 5px 10px 5px;

        .titleDesc {
            display: flex;
            align-items: center;
            padding: 2px;
            border-bottom: dotted #eee 0.005em;

            .icon {
                width: 14px;
            }

            .labelDesc {
                padding: 0 0 0 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .desc-link {
                display: flex;
                align-items: center;
            }
        }
    }

    figure {
        margin: 5px;
    }

    table,
    tbody,
    tr,
    td {
        border: 0.005em solid var(--divider-color);
        border-collapse: collapse;
        text-align: center;

        tr,
        td {
            border-spacing: 0;
            padding: 0 5px 0 5px;
        }
    }
}