.description-panel {
    .button-upload {
        button {
            font-size: 18px;
            font-weight: var(--ngw-head-font-weight);
            padding: 0;
        }
    }

    .result-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fafafa;
        border-radius: 4px;
        padding: 5px;
        border: 1px solid #f0f0f0;

        .title {
            font-weight: 500;
            font-size: 18px;
        }

        button {
            color: var(--text-secondary);
            display: flex;
            align-items: center;
            font-size: 24px;
            width: 32px;
            height: 32px;

            &:hover {
                color: var(--primary);
                background-color: #00000007;
            }
        }
    }

    .desc-title {
        background: transparent;
        border: none;
    }
}