.description-panel {

    .button-upload {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .ant-alert {
        .anticon-close {
            color: var(--text-base);

            &:hover {
                color: var(--primary);
            }
        }

        .ant-alert-close-icon {
            margin-inline-start: 0px;
        }
    }

    .ant-alert-success {
        background: transparent;
        border: 1px solid var(--divider-color);
    }

    .ant-alert-icon {
        color: var(--primary);
    }
}