.description-panel {
    font-weight: 500;

    .ant-collapse {
        border: 1px solid #f0f0f0;

        .ant-collapse-content {
            border-top: 1px solid #f0f0f0;
            font-weight: normal;
        }
    }
}