.footer-home-page {
	background-color: #212020;
	padding: 0 10% 0 10%;
	color: #fff;
	height: auto;
	display: flex;
	margin-top: 0;
	justify-content: space-between;
	flex-direction: column;
	line-height: 2;

	.footer-info {
		padding: 0;
		min-height: 190px;
		margin: 10px 0 10px 0;
		display: flex;
	}

	.uriit-logo {
		height: 40px;
		display: flex;
		flex-direction: column;
		font-size: 128px;
		margin: 0 50px 0 0;
	}

	.block-info {
		width: calc(100% - 50px);
	}

	.title-info {
		text-transform: uppercase;
	}

	.content-services {
		display: flex;
		flex-direction: column;

		.services-a {
			text-transform: uppercase;
		}

		.services-b {
			padding: 0px 0px 0px 5px;
			display: flex;
			flex-direction: column;
		}
	}

	.content-info {
		display: flex;
		flex-flow: row wrap;
		min-width: 0;
		flex-wrap: nowrap;

		.info-a {
			margin: 0px 64px 0 0;
		}

		.info-b {
			width: 450px;
		}

		.info-b-item {
			display: flex;
			justify-content: space-between;
		}

		.item-c {
			width: 100px;
		}

		.item-d {
			width: 250px;
		}

	}

	.list-link {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.logo-uriit {
		font-size: 64px;
	}

	.ant-divider {
		background-color: #fff;
		padding: 0;
		margin: 10px 0px;
	}

	.uriit-footer-name {
		display: flex;
		height: 50px;
		align-items: center;
	}
}