.ant-tooltip {
	pointer-events: none !important;
}

.grid-block {
	position: relative;
	min-height: 1px;
}

.block {
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit {
	border: var(--divider-color) solid 1px;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

.static {
	border: rgba(255, 255, 255, 0) solid 1px;
	box-sizing: border-box;
}

.content-block {
	position: absolute;
	border: var(--divider-color) solid 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0;
	border-radius: 3px;
}

.edit-block {
	font-size: 12px;
	position: absolute;
	box-sizing: border-box;
	overflow: auto;
	padding: 5px;
	overflow-wrap: break-word;
	height: 100%;
}

.layout-map-edit {
	border: 1px solid var(--divider-color);
	padding: 0;
	min-height: calc(100vh - 489px) !important;
	margin: 5px;
	border-radius: 3px;
}

.save-button {
    height: 26px;
    display: flex;
    position: inherit;
    left: 5px;
    top: 0;
    border-bottom: 1px dotted rgb(0 0 0 / 8%);
}