.mapgroup-component {
    .create-group {
        display: inline-flex;
        align-items: center;
        padding: 5px 0;
    }

    .control-button {
        display: flex;
        justify-content: center;
    }
}