.copy-to-clipboard {
    height: 20px;
    padding: 0 2px;
    display: flex;
    align-items: center;

    .ant-btn-icon {
        margin-inline-end: 0 !important;
    }

    button {
        width: 24px;
    }

    svg.icon {
        margin: 0;
        height: 18px;
        width: 18px;
    }
}