.draw-feature {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0;
    border: solid 1px #83b6df;
    border-radius: 3px;
    background-color: white;
    padding: 0;
    height: auto;
}
