.point-click {
	right: -7px;
	top: -7px;
	position: absolute;
	width: 14px;
	height: 14px;
	color: var(--primary);
	line-height: 0;
	pointer-events: none;
}

.popup-position {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: white;
	width: 150px;
	height: 150px;
}

.popup {
	width: 100%;
	height: 100%;
	justify-content: space-between;
	border-radius: 4px;
	box-shadow: 0 0px 3px var(--text-secondary);
	position: absolute;
	content: "";
	display: flex;
	clear: both;
	flex-direction: column;
	background: #fff;
	box-sizing: border-box;

	.control-button {
		display: flex;
		align-items: flex-end;
		width: auto;
		background-color: #eee;
	}
}

.hover-right {
	width: 12px !important;
	right: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-left {
	left: -8px !important;
	width: 12px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-top {
	height: 12px !important;
	top: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-bottom {
	bottom: -8px !important;
	height: 12px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-angle-bottom-right {
	width: 12px !important;
	height: 12px !important;
	right: -8px !important;
	bottom: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-angle-bottom-left {
	width: 12px !important;
	height: 12px !important;
	left: -8px !important;
	bottom: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-angle-top-left {
	width: 8px !important;
	height: 8px !important;
	left: -8px !important;
	top: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-angle-top-right {
	width: 12px !important;
	height: 12px !important;
	right: -8px !important;
	top: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}