.point-click {
	right: -7px;
	top: -7px;
	position: absolute;
	width: 14px;
	height: 14px;
	color: var(--primary);
	line-height: 0;
	pointer-events: none;
}

.popup-position {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: white;
	width: 150px;
	height: 150px;
}

.popup {
	width: 100%;
	height: 100%;
	justify-content: space-between;
	border-radius: 4px;
	box-shadow: 0 0px 3px var(--text-secondary);
	position: absolute;
	content: "";
	display: flex;
	clear: both;
	flex-direction: column;
	background: #fff;
	box-sizing: border-box;

	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 4px 4px 0 0;
		padding: 0;

		.title-name {
			font-weight: 500;
			padding: 0 5px;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: move;
			display: flex;
			justify-content: flex-start;

			&:hover {
				background-color: transparent;
			}

			.object-select {
				padding: 0;
				font-weight: normal;
			}

			.layer-name {
				font-family: var(--ngw-head-font-family-list);
				font-weight: var(--ngw-text-font-weight);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.icon-checked {
	width: 24px;
	height: 24px;
	font-size: 16px;
	flex: 0 0 auto;
}

.icon-symbol {
	font-size: 16px;
	width: 24px;
	height: 24px;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin: 0;
	cursor: pointer;
	color: var(--text-base);
	z-index: 1000;
	border-radius: 4px;
	border: none;
	background-color: #fff;
	box-sizing: border-box;
	margin-inline-start: 0;
	padding: 0;

	svg.icon {
		margin-right: 0;
	}

	&:hover {
		background-color: #00000010;
		color: var(--primary) !important;
		border-radius: 4px;
		border: none;
	}
}

.icon-disabled {
	font-size: 16px;
	width: 24px;
	height: 24px;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin: 0;
	cursor: pointer;
	color: var(--divider-color);
	box-sizing: border-box;
	pointer-events: none;
	margin-inline-start: 0;
	border-radius: 4px;
}

.hover-right {
	width: 12px !important;
	right: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-left {
	left: -8px !important;
	width: 12px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-top {
	height: 12px !important;
	top: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-bottom {
	bottom: -8px !important;
	height: 12px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-angle-bottom-right {
	width: 12px !important;
	height: 12px !important;
	right: -8px !important;
	bottom: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-angle-bottom-left {
	width: 12px !important;
	height: 12px !important;
	left: -8px !important;
	bottom: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-angle-top-left {
	width: 8px !important;
	height: 8px !important;
	left: -8px !important;
	top: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}

.hover-angle-top-right {
	width: 12px !important;
	height: 12px !important;
	right: -8px !important;
	top: -8px !important;

	&:hover {
		background-color: #106a9040;
		border-radius: 4px;
	}
}