.point-click {
	right: -7px;
	top: -7px;
	position: absolute;
	width: 14px;
	height: 14px;
	color: var(--primary);
	line-height: 0;
	pointer-events: none;
}

.popup-position {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: white;
	width: 150px;
	height: 150px;
}