body {
	min-width: auto;
}

input {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

:root {
	--primary: #2a388c;
}

.wrapper-home-page {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	letter-spacing: .05rem;

	.control-button {
		position: absolute;
		left: 0;
	}

	.ant-btn-color-link.ant-btn-variant-link {
		border: 1px dotted black;

		&:hover {
			background-color: #00000007 !important;
			color: var(--text-base) !important;
		}
	}



	.icon-pensil {
		color: var(--text-secondary);
		display: flex;
		align-items: center;
		margin: 5px 0 0 5px;
		z-index: 1000;
		width: 28px;
		height: 28px;
		font-size: 16px;
	}

	.button-edit-save {
		color: var(--text-secondary) !important;
		display: flex;
		align-items: center;
		font-size: 16px;
		position: relative;
		top: -21px;
		width: 24px !important;
		height: 24px !important;
	}

	.button-edit-save,
	.icon-pensil {
		&:hover {
			color: #000000 !important;
			background-color: var(--icon-color) !important;
		}
	}

	.icon-edit-control {
		width: 32px;
		height: 32px;
		display: flex;
		justify-items: center;
		justify-content: center;
		align-items: center;
		flex: 0 0 auto;
		cursor: pointer;
		z-index: 1000;
		background-color: #fff;
		font-size: 18px;
		color: var(--text-base);
	}

	.icon-edit {
		width: 32px;
		height: 32px;
		display: flex;
		justify-items: center;
		justify-content: center;
		align-items: center;
		flex: 0 0 auto;
		cursor: pointer;
		z-index: 1000;
		color: var(--text-base);
	}

	a {
		text-decoration: none;
		color: #ffffff;
	}

	a:hover {
		color: #afb4fd !important;
	}

	.main {
		margin: 0 10%;

		.content {
			display: flex;
			flex-direction: column;
			padding: 0;
			min-height: 461px;
			background: rgba(233, 233, 233, 0.1);
			height: 100%;
			min-width: 410px;

			.search-block {
				display: flex;
				justify-content: space-between;
				padding: 5px;
				margin: 8px 0;

				.search {
					max-width: 500px;
					width: 100%;
					margin: 8px 0;

					.home-page-map-filter-dropdown {
						.ant-select-item {
							padding: 2px !important;
						}

						.ant-select-dropdown .ant-select-item-option-content {
							display: flex;
							align-items: center;
						}


						.title {
							margin: 0;
							padding: 0 4px;

							text-overflow: ellipsis;
							overflow: hidden;
							max-width: 470px;
							white-space: nowrap;

						}
					}

					.ant-input-affix-wrapper {
						border-image: linear-gradient(0.25turn, #2a388c80, #2a388c80, #2a388c00);
						border-image-slice: 1;
						border-bottom-style: solid !important;
						border-style: none;
						border-radius: 0;
						background: transparent;
					}

					.ant-input-affix-wrapper .ant-input-prefix {
						margin-inline-end: 10px;
						color: #2a398ca6 !important;
					}

					.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
						border-color: #ffffff00;
						z-index: 1;
					}

					.ant-input-affix-wrapper:hover {
						border-right-color: #ffffff00 !important;
						border-left-color: #ffffff00 !important;
						border-top-color: #ffffff00 !important;
						border-bottom-color: var(--primary) !important;
					}


					.ant-input-affix-wrapper:focus,
					.ant-input-affix-wrapper-focused {
						border-right-color: #ffffff00 !important;
						border-left-color: #ffffff00 !important;
						border-top-color: #ffffff00 !important;
						border-bottom-color: var(--primary) !important;
						box-shadow: 0 0 0 0 #ffffff00;
						outline: 0;
					}

					.ant-input-affix-wrapper {
						border-right-color: #ffffff00;
						border-left-color: #ffffff00;
						border-top-color: #ffffff00;
					}
				}

			}

			.menu-maps {
				margin: 8px 0 24px 0;
				display: flex;

				.menu-list {
					max-width: 280px;
					min-height: 350px;
					padding: 5px;

					.dnd-container-menu {
						display: flex;
						flex-direction: column;
						max-width: 280px;

						.menu-group {
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							margin-top: 5px;

							.menu-item {
								border-bottom: var(--divider-color) 1px solid;
								width: 100%;
								display: flex;
								justify-content: center;
								box-sizing: border-box;

								.menu-content {
									border: #00000000 solid 1px;
									display: inline-flex;
									align-items: center;
									box-sizing: border-box;
									margin: 5px 0;
									border-radius: 3px;
									min-width: 72px;

									.menu-item-content {
										overflow: hidden;
										white-space: initial;
										text-overflow: ellipsis;
										text-align: left;
										letter-spacing: normal;
										-webkit-line-clamp: 1;
										display: -webkit-box;
										-webkit-box-orient: vertical;
										box-sizing: border-box;
										border-radius: 3px;
										padding: 5px;
										font-weight: 500;
										user-select: none;
									}
								}
							}
						}
					}
				}

				.content-maps-grid {
					width: 100%;
					padding: 5px;

					.dnd-container-maps {
						display: flex;
						flex-direction: column;
						width: 100%;

						.maps-group {
							display: grid;
							justify-items: center;
							margin-top: 5px;
							gap: 50px 9px;

							.drag-item {
								box-sizing: border-box;
								border-radius: 3px;
								padding: 5px;
								height: 100%;
								background: #b3b9be14;
								box-shadow: 0 0 3px 0;

								.content-drag {
									margin: 0;
									color: #000000;
									overflow: hidden;
									white-space: initial;
									text-overflow: ellipsis;
									line-height: 20.7px;
									text-align: left;
									letter-spacing: normal;
									-webkit-line-clamp: 2;
									display: -webkit-box;
									-webkit-box-orient: vertical;
									height: 45px;
								}

								.ant-empty-normal {
									margin-block: 0;
									color: rgba(0, 0, 0, 0.25);
								}
							}

							.maps-item {
								display: inline-flex;
								align-items: center;


								.ant-card {
									height: 100%;
									display: flex;
									flex-direction: column;
									justify-content: space-between;
									border-radius: 3px;

									.ant-card-cover {
										margin: 0;
										border-bottom: 1px solid #b3b9be78;

										.link-map {
											display: inline-grid;
											align-items: center;
											height: 100%;
											color: var(--text-base);
											width: 100%;

											.ant-empty-image {
												opacity: 1;
												font-size: 32px;
											}

											&:hover {
												color: var(--text-base) !important;
											}
										}

										a:hover {
											color: var(--icon-color) !important;
										}
									}
								}

								.ant-card-body {
									display: flex;
									background: #fffafa;
								}

								.img_preview {
									height: inherit;
									margin: 0;
									object-fit: contain;
									padding: 0;
									border-top-right-radius: 3px;
									border-top-left-radius: 3px;
									box-sizing: border-box;
									text-align: center;
									display: grid;
									place-items: center;

									&:hover {
										color: var(--text-base) !important;
									}
								}

								.meta-card {
									overflow: hidden;
									display: flex;
									flex: 1;
									flex-direction: column;
									justify-content: space-around;
									margin: 0;

									.ant-card-meta-detail {
										overflow: hidden;
										display: flex;
										flex: 1;
										flex-direction: column;
										justify-content: space-between;
										cursor: auto;

										.ant-card-meta-title {
											display: flex;
											align-items: center;
											margin: 0;
											cursor: text;
											justify-content: center;
											width: 100%;
											height: 100%;
											font-weight: normal;

											.title-map {
												width: 100%;
												position: relative;
												height: 100%;

												.title {
													width: 100%;
													position: absolute;
													top: 0;
													bottom: 40px;
													display: flex;
													align-items: center;
													justify-content: center;

													.content-title {
														color: #000000;
														font-size: 16px;
														overflow: hidden;
														white-space: initial;
														text-overflow: ellipsis;
														line-height: 20.7px;
														text-align: center;
														letter-spacing: normal;
														-webkit-line-clamp: 3;
														display: -webkit-box;
														-webkit-box-orient: vertical;
														padding: 0 10px;
													}
												}

												.control-button {
													position: absolute;
													bottom: 0;
													display: flex;
													justify-content: space-between;
													width: 100%;
													height: 40px;
													align-items: center;

													a,
													button {
														display: flex;
														align-items: center;
														font-size: 24px;
														margin: 0px 10px;
														padding: 0;

														span {
															display: flex;
															align-items: center;
															color: var(--primary);
															text-transform: uppercase;
															text-decoration: none;
															font-weight: 500;
														}

														&:hover {
															background-color: transparent;
														}
													}
												}

												.button-min {

													a,
													button {
														font-size: 18px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #2a398ca6 !important;
}

.item-edit-top {
	display: flex;
	margin-bottom: 12px;
	flex-direction: column;
}

.item-edit {
	display: flex;
	border-radius: 3px;
	flex-wrap: wrap;

	.first-item,
	.last-item {
		width: 100%;
	}
}

div:has(> .item-edit) {
	display: flex;
	justify-content: flex-end;
}


.upload-header,
.upload-footer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

div:has(> .upload-header) {
	width: 100%;
}

div:has(> .upload-footer) {
	width: 100%;
}

// ---modal---

.modal-component {
	min-width: 340px;
	max-width: 75%;

	.ant-modal-close {
		top: 5px;
		inset-inline-end: 5px;
	}

	.ant-modal-header {
		margin-bottom: 0;
	}

	.modal-title {
		cursor: move;
		padding: 5px 40px 5px 16px;
		background-color: rgba(233, 233, 233, 0.2);
		overflow: hidden;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		font-family: var(--ngw-head-font-family);
		overflow-wrap: anywhere;
	}
}

.grid-card-meta-title {
	font-weight: 500;
	font-size: 16px;
	overflow: hidden;
	white-space: initial;
	text-overflow: ellipsis;
	line-height: 20.7px;
	text-align: center;
	letter-spacing: normal;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	padding: 0 5px;
}

.grid-card-meta-title-min {
	line-height: 2;
}

.edit-group-maps,
.edit-grid-maps {
	position: absolute;
}

// ---form---

.form-component {
	height: 100%;
	width: 100%;
}

.content {
	width: 100%;
}