.footer-home-page {
	padding: 0 10% 0 10%;
	color: #fff;
	height: auto;
	display: flex;
	margin-top: 0;
	justify-content: space-between;
	flex-direction: column;
	line-height: 2;

	.footer-info-edit {
		margin: 5px 0 5px 0;
		background-color: #fff;
		border-radius: 3px;
	}

	.footer-info-edit {
		right: 10%;
		display: flex;
		text-transform: uppercase;
		align-items: center;
		border-radius: 4px;
		justify-content: flex-end;
	}

	.footer-content-edit {
		border-radius: 3px;
		padding-top: 5px;
	}

	.edit-logo {
		display: block;
		border-radius: 3px;
		color: var(--text-base);


		.upload-block {
			display: flex;
			justify-content: space-between;
			padding: 0 5px 5px 5px;
		}

		.logo-icon-view {
			margin: 0px 5px;
			padding: 5px;
			background: var(--icon-color);
			border-radius: 3px;
			display: flex;
			align-items: center;
			justify-content: center;

			.uriit-logo-mini {
				height: 32px;
			}
		}
	}

	.logo-col {
		display: flex;
		justify-content: center;
		padding: 5px 5px 32px 0;
	}

	.logo-col-edit {
		display: flex;
		justify-content: center;
		padding-top: 5px;
	}

	.color-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 5px 0px 0px 5px;

		>span {
			padding: 0 5px;
			line-height: 1.2;
		}
	}

	.uriit-logo {
		height: 128px;
		display: flex;
		justify-content: flex-start;
	}

	.name-center {
		text-transform: uppercase;
		padding: 2px 0;
	}

	.footer-info {
		padding: 0;
		min-height: 190px;
		margin: 40px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;

		.block-info {
			.ant-input[disabled] {
				cursor: auto !important;
				margin: 5px;
			}

			.services-url {
				padding: 0 0 0 5px;

				.icon-url {
					font-size: 12px;
				}
			}

			.services-list {
				width: 100%;
				display: flex;
				flex-direction: column-reverse;
			}

			.address-content {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				gap: 10px 20px;

				.phone {
					padding: 0;

					.phone-item {
						display: flex;
						width: 100%;
						justify-content: space-between;
						flex-wrap: wrap;
						align-items: center;
					}
				}
			}



			.logo-uriit {
				font-size: 64px;
			}
		}
	}

	.ant-divider {
		background-color: #fff;
		padding: 0;
		margin: 10px 0;
		border-block-start: 1px solid rgb(5 5 5 / 29%);
	}

	.uriit-footer-name {
		display: flex;
		align-items: center;
		margin: 0px 0 5px 0;
	}

	.ant-upload-list-item {
		background-color: var(--icon-color);
	}
}