.footer-home-page {
	background-color: #212020;
	padding: 0 10% 0 10%;
	color: #fff;
	height: auto;
	display: flex;
	margin-top: 0;
	justify-content: space-between;
	flex-direction: column;
	line-height: 2;

	.footer-info {
		padding: 0;
		min-height: 190px;
		margin: 10px 0 10px 0;
		display: flex;
	}

	.uriit-logo {
		height: 40px;
		display: flex;
		flex-direction: column;
		font-size: 128px;
		margin: 0 50px 0 0;
	}

	.block-info {
		width: calc(100% - 50px);

		.footer-content {

			.ant-input[disabled] {
				cursor: auto !important;
				margin: 5px;
			}

			.item-edit {
				display: flex;
				align-items: center;
			}

			.services-url {
				padding: 0 0 0 5px;
				display: flex;
				flex-direction: column;
				text-decoration: none;

				.icon-url {
					font-size: 12px;
				}

				a {
					text-decoration: none;
					color: #ffffff;
				}
			}

			.services-list {
				width: 100%;
				display: flex;
				flex-direction: column-reverse;
			}

			.icon-edit {
				font-size: 18px;
				color: var(--danger);
				width: 24px;
				height: 24px;
				display: flex;
				justify-items: center;
				justify-content: center;
				align-items: center;
				flex: 0 0 auto;
				cursor: pointer;
			}

			.address-content {
				display: flex;
				justify-content: space-between;

				.phone {
					width: 100%;

					.phone-item {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
					}
				}
			}

			.address-edit {
				display: flex;
				flex-wrap: wrap;

				.phone {
					width: 100%;

					.item-edit {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
					}
				}
			}

			.address {
				width: 100%;
			}
		}

		.logo-uriit {
			font-size: 64px;
		}

		.ant-divider {
			background-color: #fff;
			padding: 0;
			margin: 10px 0;
		}

		.uriit-footer-name {
			display: flex;
			height: 50px;
			align-items: center;
		}
	}
}