.map-grid-panel {

	.ant-tooltip {
		pointer-events: none !important;
	}

	.grid-block {
		position: relative;
		min-height: 1px;
	}

	.block {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.edit {
		border: var(--divider-color) solid 1px;
		box-sizing: border-box;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
	}

	.static {
		border: rgba(255, 255, 255, 0) solid 1px;
		box-sizing: border-box;
	}

	.content-block {
		margin: 5px;
		overflow: hidden;
		white-space: initial;
		text-overflow: ellipsis;
		text-align: left;
		letter-spacing: normal;
		-webkit-line-clamp: 1;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}

	.edit-block {
		font-size: 12px;
		position: absolute;
		box-sizing: border-box;
		overflow: auto;
		padding: 5px;
		overflow-wrap: break-word;
		height: 100%;
	}

	.save-button {
		height: 26px;
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	.img_preview {
		height: 200px;
		margin: 0;
		object-fit: contain;
		padding: 0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-top: 1px solid var(--icon-color);
		border-left: 1px solid var(--icon-color);
		border-right: 1px solid var(--icon-color);
		box-sizing: border-box;
	}

	.img_preview_none {
		height: 168px;
	}

	.ant-card-bordered {
		border: 1px solid var(--icon-color);
	}

	.meta-card {
		overflow: hidden;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-around;

		.ant-card-meta-detail {
			overflow: hidden;
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: space-around;

			.ant-card-meta-title {
				height: 100%;
				display: flex;
				align-items: center;
				margin: 8px 0 0 0;

				.grid-card-meta-title {
					margin: 5px 16px;
					color: #000000;
					font-weight: 400;
					font-size: 16px;
					overflow: hidden;
					white-space: initial;
					text-overflow: ellipsis;
					line-height: 20.7px;
					text-align: left;
					letter-spacing: normal;
					-webkit-line-clamp: 3;
					display: -webkit-box;
					-webkit-box-orient: vertical;
				}
			}

			.ant-card-meta-description {
				margin: 0 0 10px 0;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.icon-open-map {
					margin: 0 0 0 10px;
					color: #2a388c;
					border: 1px solid #2a388c;
					padding: 0;
					border-radius: 2px;
					line-height: 1;
				}

				.icon-info-map {
					line-height: 1;
					font-size: 24px;
					padding: 0 10px 0 0;

					svg {
						color: #b5bcc7;
					}
				}

				a {
					color: #2a388c;
					display: flex;
					align-items: center;
					font-size: 24px;
					padding: 5px 16px;
				}

				.open-map {
					color: #2a388c;
					text-transform: uppercase;
				}

				svg {
					color: #2a388c;
				}
			}
		}

		.ant-modal .ant-modal-content {
			position: relative;
			background-color: #ffffff;
			background-clip: padding-box;
			border: 0;
			border-radius: 3px;
			box-shadow: none;
			pointer-events: auto;
			padding: 5px;
		}

		.ant-modal .ant-modal-title {
			margin: 5px 32px 5px 5px;
			color: #000000;
			font-weight: 400;
			font-size: 16px;
			overflow: hidden;
			white-space: initial;
			text-overflow: ellipsis;
			line-height: 20.7px;
			text-align: left;
			letter-spacing: normal;
			-webkit-line-clamp: 1;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
	}

	.react-grid-layout {
		position: relative;
	}
}

.left-menu-panel {
	position: relative;

	.grid-content {
		display: flex;
		flex-flow: row wrap;
		min-width: 0;
	}

	.block {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		user-select: none;
		cursor: pointer;

	}

	.edit {
		box-sizing: border-box;
		border-radius: 4px;
		cursor: move;
		border: 1px solid var(--divider-color);
	}

	.static {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: content-box;
		border-bottom: 1px solid var(--divider-color);
		padding: 5px;
		font-weight: 500;
	}

	.content-block {
		margin: 5px;
		overflow: hidden;
		white-space: initial;
		text-overflow: ellipsis;
		text-align: left;
		letter-spacing: normal;
		-webkit-line-clamp: 1;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}

	.edit-block {
		margin: 5px;
		overflow: hidden;
		white-space: initial;
		text-overflow: ellipsis;
		text-align: left;
		letter-spacing: normal;
		-webkit-line-clamp: 1;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}

	.save-button {
		height: 26px;
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	.react-grid-layout {
		position: relative;
	}

	label:first-of-type {
		border-radius: 4px;
		border-color: #ffffff00 !important;
	}
}