.ngw-webmap-custom-layer-panel {
    .ant-collapse-content-box {
        padding: 0;
    }

    .ant-tabs-content-holder {
        padding: 0;
        overflow: hidden;
        flex-grow: 1;
        overflow-y: auto;
        border: none;
    }

    .button-operation {
        display: flex;

        .status-operation {
            padding: 0 4px 0px 0px;
        }
    }
}

.label-type {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
        padding: 0 4px 0px 0px;
    }

    .icon {
        padding: 0 0 0 4px;
    }
}