.ngw-webmap-custom-layer-panel {
    .ant-collapse-content-box {
        padding: 0;
    }

    .ant-tabs-content-holder {
        padding: 1px;
        overflow: hidden;
        flex-grow: 1;
        overflow-y: auto;
        border: none;
    }

    .button-operation {
        display: flex;

        .status-operation {
            padding: 0 4px 0px 0px;
        }
    }
}

.info-file {
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
    height: 32px;
}

.custom-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    cursor: pointer;
}

.icon-symbol {
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    color: #106a90;

    &:hover {
        background-color: #acacac20;
        border-radius: 3px;
    }
}