.dropdown-button {
    padding: 5px 0px;
}

.layer-name-input {
    margin: 0;
}

.layer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0px 5px;
}

.custom-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    cursor: auto;
}

.icon-symbol {
    cursor: pointer;
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    color: #106a90;
}

.icon-symbol-disable {
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    color: #acacac;
}

.checkbox-item {
    min-width: 0;

    .ant-checkbox-wrapper {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        line-height: 1.5714285714285714;
        list-style: none;
        font-family: "Roboto", sans-serif;
        display: inline-flex;
        align-items: baseline;
        cursor: pointer;
        width: 100%;

        .ant-checkbox {
            overflow: visible;
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}