.dropdown-button {
    padding: 5px 0px;

    .ant-space-compact-block {
        display: flex;
        width: 100%;
        justify-content: flex-end;


        .ant-btn-compact-first-item.ant-btn-sm {
            border-start-end-radius: 0;
            border-end-end-radius: 0;
            width: 100%;
        }
    }
}

.layer-name-input {
    margin: 0;
}

.item-control {
    display: flex;
    padding: 0 5px;
}

.layer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0px 5px;
}

.custom-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    cursor: auto;
}

.icon-symbol {
    cursor: pointer;
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    color: #106a90;
}

.icon-symbol-disable {
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    color: #acacac;
}

.checkbox-item {
    min-width: 0;

    .ant-checkbox-wrapper {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        line-height: 1.5714285714285714;
        list-style: none;
        font-family: "Roboto", sans-serif;
        display: inline-flex;
        align-items: baseline;
        cursor: pointer;
        width: 100%;

        .ant-checkbox {
            overflow: visible;
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.modal-style {
    .select-format{
        display: flex;
        align-items: center;

        .select-title {
            padding: 0 10px 0 0;
        }
    }
    .ant-modal-content {
        position: relative;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        pointer-events: auto;
        padding: 16px 16px;
    }
    .ant-modal-close {
        position: absolute;
        top: 10px;
        inset-inline-end: 10px;
        z-index: 1010;
        padding: 0;
        color: rgba(0, 0, 0, 0.45);
        font-weight: 500;
        line-height: 1;
        text-decoration: none;
        background: transparent;
        border-radius: 4px;
        width: 22px;
        height: 22px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: color 0s, background-color 0s;
    }
}