.control-component {
	justify-content: flex-end;
	display: flex;
}


.header-home-page {
	padding: 0 10%;
	min-width: 410px;

	.header-block {
		background: rgba(233, 233, 233, 0.05);

		.menu-component {
			padding: 5px 5px 0px 5px;

			.label-sign {
				display: flex;
				align-items: center;

				.label {
					padding: 0 4px 0 0;
				}
			}

			svg.icon {
				font-size: 24px;
			}

			.auth-login {
				vertical-align: middle;
			}

			.menu-indicator {
				font-size: 24px;
				color: #fff;
			}

			.ant-menu-title-content {
				font-weight: 600;
			}

			.ant-menu-horizontal {
				border-bottom: none !important;
			}

			.ant-menu-vertical,
			.ant-menu-item::after,
			.ant-menu-submenu::after {
				border: none !important;
			}

			.ant-menu {
				color: rgba(0, 0, 0, 0.88);
				display: flex;
				justify-content: flex-end;
			}

			a {
				color: #ffffff;
			}
		}

		.name-site {
			letter-spacing: normal;
			text-align: center;
			user-select: none;
			padding: 0px 5px 0px 5px;

			.ant-typography {
				color: #fff;
				display: flex;
				justify-content: center;
			}

			.ant-typography {
				word-break: break-word;
				line-height: 1.57142857;
			}

			.name-site-a {
				font-family: Forum;
			}

			.name-site-b {
				text-transform: uppercase;
				font-weight: 500;
			}

			h1:first-child {
				margin: 0;
				line-height: 1;
			}

			h5 {
				font-weight: 100;
				margin: 0;
			}

			.title {
				width: 100%;
				height: 152px;
				color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}
		}

		.ant-menu::before {
			background-color: #212529;
			font-weight: 500;
		}

	}
}

.menu-avatar-label {
	border-radius: 2px;
	color: #fff;
	font-weight: 500;
}

.menu-avatar-authenticated {
	line-height: 1;
	padding: 0 2px;
	margin: 0 15px;
}


.menu-avatar-danger {
	.menu-avatar-label {
		color: var(--on-primary);
		background-color: var(--surface-bg-danger);
	}
}

.ant-btn-primary {
	background-color: var(--primary) !important;
	font-family: "Montserrat";
	font-weight: 500;
	border-color: var(--text-secondary);

	&:hover {
		border-color: var(--primary) !important;
	}
}

.ngw-auth-login-form {

	h1,
	h2,
	h3 {
		letter-spacing: normal;
		color: var(--primary);
		font-family: "Montserrat";
		font-weight: 500;
		margin: -9px 0 9px 0;
		font-size: 18px;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-background-clip: text;
		transition: background-color 5000s ease-in-out 0s;
		box-shadow: inset 0 0 20px 20px #ffffff00;
	}

}

.account-name {
	font-weight: 600;
	text-transform: uppercase;
}

.ant-menu-title-content-with-extra {
	font-weight: 500;
}

.ant-menu-item {
	font-weight: 500;

	svg {
		padding: 0 8px 0 0;
	}
}



.logout-icon {
	min-width: 14px !important;
	font-size: 14px !important;

	svg.icon {
		padding: 0;
	}
}

.ant-menu-title-content {
	font-weight: 500;
	text-transform: uppercase;
	margin-inline-start: 0 !important;
}

.menu-label {
	text-transform: uppercase;
	font-weight: 500;
}

.ant-modal .ant-modal-close {
	top: 0;
	inset-inline-end: 0;
}

.ant-modal {
	top: 50px;
}