.geomloading-panel {
    width: 100%;
    height: 100%;
}

.geomloading__controls{
    position: relative;
}



.nextgis #CustomLayerPanel {
    background-color: #ffffff;
    border-radius: 2px;
    padding: 0px 0px 0px 0px;
    min-width: 215px;
    width: 100%;
    height: 100%;
}

.nextgis .BlockCustomFileName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 2px 4px 0px;
}

.nextgis .ErrorCuctom {
    padding: 2px 16px 2px 16px;
}
.nextgis .trkptBlock {
    display: flex;
    align-items: center;
    right: 40px;
    position: absolute;
}

.nextgis .trkptLabel,.trkptInput {
    margin: 2px;
    user-select: none;
}

.nextgis #CustomObjectInfo {
    overflow-y: auto;
    max-height: calc(100vh - 220px);
    margin-top: 5px;
}

.nextgis .popup-text-all {
    width: 100%;
    user-select: text;

}
.nextgis .popup-text tr {
    padding: 0px 5px 0px 5px;
}

.nextgis .popup-text td {
    padding: 0px 5px 0px 5px;
    word-break: break-all;
    min-width: 100px;
}

.nextgis .popup-text-all table {
    border: 0.005em solid rgba(0, 0, 0, 0.137);
}
.nextgis .popup-text-all td {
    border: 0.005em solid rgba(0, 0, 0, 0.137);
}
.nextgis .popup-text-all tr {
    border: 0.005em solid rgba(0, 0, 0, 0.137);
}
.nextgis .popup-text-all tr:nth-child(even) {
    background: rgba(16, 106, 144, 0.075);
}

.nextgis .attr_popup {
    display: flex;
    text-align: left;
    padding: 0px 0px 10px 0px;
    flex-direction: column;
}

.nextgis .index_popup {
    padding: 5px 0px 0px 5px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    background-color: #106b928a;
}

.nextgis .customFileName {
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    color: #106a90;
    padding: 2px 2px 2px 5px;
}

.nextgis .featureOne.material-icons {
    font-size: 14px;
    color: #106a90;
}

.nextgis #featureOne {
    color: #106a90;
}

.nextgis input.featureOne.material-icons {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
}

.nextgis .fieldsetF{
    border: 0px solid #efefef;
    margin: 2px;
    padding-top: 2px;
}

.nextgis #fileselect {
    margin: 5px 0px 0px 0px;
}

.nextgis .fileOpenFolder {
    display: block;
    height: 30px;
    background-color: #fff;
    box-shadow: 0 0 0.2em #106a90;
    text-decoration: none;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 5px 0px 5px;
    margin: 0 0 0 2px;
    text-align: center;
    color: #106a90;
    fill: #106a90;
    user-select: none;
}

.nextgis .ImportFileButton {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    text-decoration: none;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px 0px 0px 0px;
    margin: 0 2px 0 2px;
    text-align: center;
    color: #106a90;
    user-select: none;
}
.nextgis .ImportFileButton:hover {
    background-color: #F9FAFB;
}
.nextgis .fileOpenFolder:hover {
    background-color: #F9FAFB;
}

.nextgis #filedrag{
    border-radius: 2px;
    border: 1px dashed #106a90;
    color: var(--text-secondary);
    cursor: default;
    display: block;
    margin: 10px 1px 0px 1px;
    padding: 1em 0pt;
    text-align: center;
    background: #f9f9f9;
    user-select: none;
}
.nextgis #filedrag.hover {
    border-style: solid;
    box-shadow: 0pt 3px 4px #dbdbdb inset;
}