.icon-position {
    right: -15px;
    top: -7px;
    position: absolute;
    width: 21px;
    height: 21px;
    color: var(--primary);
    pointer-events: none;
    line-height: 0;
}

[hidden] {
    display: none !important;
}

.hover-right {
    width: 8px !important;
    right: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-left {
    left: -8px !important;
    width: 8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-top {
    height: 8px !important;
    top: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-bottom {
    bottom: -8px !important;
    height: 8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-angle-bottom-right {
    width: 8px !important;
    height: 8px !important;
    right: -8px !important;
    bottom: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-angle-bottom-left {
    width: 8px !important;
    height: 8px !important;
    left: -8px !important;
    bottom: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-angle-top-left {
    width: 8px !important;
    height: 8px !important;
    left: -8px !important;
    top: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-angle-top-right {
    width: 8px !important;
    height: 8px !important;
    right: -8px !important;
    top: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.popup-position {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
    position: absolute;
    content: "";
    display: flex;
    clear: both;
    flex-direction: column;
    background: #fff;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px 3px 0 0;
        background-color: rgba(0, 0, 0, 0.04);
        padding: 0;

        .title-name {
            font-weight: 500;
            padding: 0 5px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: move;

            .object-select {
                padding: 0 16px 0 0;
            }

            .layer-name {
                font-family: var(--ngw-head-font-family-list);
                font-weight: var(--ngw-text-font-weight);
            }
        }

        .icon-symbol {
            font-size: 21px;
            width: 22px;
            height: 22px;
            display: flex;
            justify-items: center;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            margin: 0 0 0 4px;
            cursor: pointer;
            color: var(--text-secondary);
            z-index: 1000;

            &:hover {
                background-color: var(--divider-color);
                color: var(--primary);
                border-radius: 2px;
            }
        }
    }

    .select-feature {
        padding: 0;
        position: absolute;
        width: 100%;
        top: 22px;

        .edit-symbol {
            font-size: 14px;
            width: 24px;
            height: 24px;
            display: flex;
            justify-items: center;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            margin: 0;
            cursor: pointer;
            color: var(--text-secondary);
            z-index: 1000;

            &:hover {
                background-color: var(--divider-color);
                color: var(--primary);
                border-radius: 3px;
            }
        }
    }

    .ant-tabs .ant-tabs-content-holder {
        flex: auto;
        min-width: 0;
        min-height: 0;
        overflow: auto;
    }

    .content {
        padding: 0;
        cursor: auto;
        position: absolute;
        top: 46px;

        .ant-btn.ant-btn-icon-only {
            width: 24px;
            padding-inline-start: 0;
            padding-inline-end: 0;
        }

        .ant-tabs>.ant-tabs-nav .ant-tabs-nav-more {
            position: relative;
            padding: 10px 10px;
            background: transparent;
            border: 0;
            color: rgba(0, 0, 0, 0.88);
        }

        .ant-tabs >.ant-tabs-nav {
            position: relative;
            display: flex;
            flex: none;
            align-items: center;
            width: 32px;
            font-size: 14px;
        }

        .ant-tabs-left >.ant-tabs-nav .ant-tabs-tab {
            padding: 5px 0 5px 0;
            text-align: center;
        }

        .ant-tabs >.ant-tabs-nav .ant-tabs-nav-list {
            position: relative;
            display: flex;
            transition: opacity 0.3s;
            align-items: center;
        }

        .ant-btn {
            font-size: 14px;
            line-height: 1.5714285714285714;
            height: 24px;
            padding: 0;
            border-radius: 3px;
        }

        .edit-button {
            
            &:hover {
                color: #106a9080;
                background-color: #106a9000;
            }
        }

        .content-tabs {
            overflow: hidden;
            border-bottom: solid var(--divider-color) 1px;
            height: 100%;

            .content-move {
                height: 100%;
                width: 100%;
            }

            .item {
                padding: 0;

                .item-fields {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 2px 5px;
                    border-bottom: solid var(--divider-color) 0.005em;
                    align-items: center;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.025);
                        border-radius: 3px;
                    }

                    .label {
                        display: flex;
                        padding: 0 10px 0 0;
                        align-items: center;
                        min-width: min-content;
                        width: 40%;
                    }

                    .value {
                        max-width: max-content;
                    }

                    .value-link {
                        max-width: 60%;
                    }

                    .value-email {
                        max-width: 60%;
                        text-align: right;
                        cursor: pointer;
                        color: var(--primary);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .text-ellipsis {
                        text-align: right;
                    }
                }
            }

            .ant-empty-image {
                height: 20px;
            }
        }


    }

    .footer-popup {
        padding: 0;
        display: flex;
        width: 100%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: move;
        color: var(--primary);
        justify-content: space-between;
        align-items: center;
        height: 24px;
    }
}

.coordinate-value {
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: normal;
    height: 24px;
    border-radius: 0 0 3px 3px;

    &:hover {
        color: var(--primary);
    }

    .icon-symbol {
        padding: 0 5px;
        font-size: 10px;
    }

    .coords {
        padding: 0;
    }
}

.icon-position-popup {
    left: -5px;
    top: -5px;
    position: absolute;
    pointer-events: none;
    line-height: 0;
    color: white;
    font-size: 9px;
}

.context-position {
    overflow: auto;
    padding: 0;
    min-width: 100px;
    background: #ffffff;
    border-radius: 3px;
    border: solid var(--divider-color) 0.005em;
    user-select: text;
    pointer-events: auto;
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
    z-index: 1;

    .context-coords {
        font-weight: 500;
        display: flex;
        padding: 0px 5px;
        justify-content: center;
        align-items: center;
        border-bottom: solid var(--divider-color) 0.005em;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        cursor: pointer;
    }

    .context-item {
        cursor: pointer;
        padding: 5px;
        user-select: none;

        &:hover {
            background-color: #F5F5F5;
            padding: 5px;
            border-radius: 3px;
        }
    }
}

.ant-tooltip {
    pointer-events: none !important;
}

.more-tabs {
    width: 40px;
    color: aqua;
}