.icon-position {
    right: -9px;
    top: -9px;
    position: absolute;
    width: 18px;
    height: 18px;
    color: var(--primary);
    pointer-events: none;
    line-height: 0;
}

popup-container {
    position: absolute;
    width: 300px;
    height: 300px;
}

.icon-position-popup {
    left: -5px;
    top: -5px;
    position: absolute;
    pointer-events: none;
    line-height: 0;
    color: white;
    font-size: 9px;
}

.context-position {
    position: absolute;
    padding: 0;
    min-width: 150px;
    background: #ffffff;
    border-radius: 3px;
    border: solid 0px #106a90;
    user-select: text;
    pointer-events: auto;

    .context-title {
        font-weight: 600;
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }

    .context-item {
        cursor: pointer;
        padding: 5px;
        user-select: none;

        &:hover {
            background-color: #F5F5F5;
            padding: 5px;
            border-radius: 3px;
        }
    }
}