.icon-position {
    right: -15px;
    top: -7px;
    position: absolute;
    width: 21px;
    height: 21px;
    color: var(--primary);
    pointer-events: none;
    line-height: 0;
}

[hidden] {
    display: none !important;
}

.hover-right {
    width: 12px !important;
    right: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-left {
    left: -8px !important;
    width: 12px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-top {
    height: 12px !important;
    top: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-bottom {
    bottom: -8px !important;
    height: 12px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-angle-bottom-right {
    width: 12px !important;
    height: 12px !important;
    right: -8px !important;
    bottom: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-angle-bottom-left {
    width: 12px !important;
    height: 12px !important;
    left: -8px !important;
    bottom: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-angle-top-left {
    width: 8px !important;
    height: 8px !important;
    left: -8px !important;
    top: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.hover-angle-top-right {
    width: 12px !important;
    height: 12px !important;
    right: -8px !important;
    top: -8px !important;

    &:hover {
        background-color: #106a9040;
        border-radius: 4px;
    }
}

.popup-position {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
    position: absolute;
    content: "";
    display: flex;
    clear: both;
    flex-direction: column;
    background: #fff;
    border: 1px solid var(--icon-color);
    box-sizing: border-box;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 3px 3px 0 0;
        background-color: rgba(0, 0, 0, 0.04);
        padding: 0;

        .title-name {
            font-weight: 500;
            padding: 0 5px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: move;

            .object-select {
                padding: 0 16px 0 0;
            }

            .layer-name {
                font-family: var(--ngw-head-font-family-list);
                font-weight: var(--ngw-text-font-weight);
            }
        }

        .icon-symbol {
            font-size: 16px;
            width: 22px;
            height: 22px;
            display: flex;
            justify-items: center;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            margin: 0 0 0 4px;
            cursor: pointer;
            color: var(--text-secondary);
            z-index: 1000;

            &:hover {
                background-color: var(--divider-color);
                color: var(--primary);
                border-radius: 2px;
            }
        }
    }

    .select-feature {
        padding: 2px 0 0 0;
        width: 100%;
        display: inline-flex;

        .edit-symbol {
            font-size: 16px;
            width: 24px;
            height: 24px;
            display: flex;
            padding: 0 0 0 0;
            margin: 0 2px 0 0;
            cursor: pointer;
            border: 1px solid var(--divider-color);
            border-radius: 4px;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #ffffff00;
                color: var(--primary);
            }
        }
    }

    .ant-tabs .ant-tabs-content-holder {
        flex: auto;
        min-width: 0;
        min-height: 0;
        overflow: auto;
    }

    .content {
        padding: 0;
        cursor: auto;
        top: 46px;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .radio-block {
            display: flex;
            width: 30px;
            border-right: solid rgba(0, 0, 0, 0.04) 1px;
            flex-wrap: wrap;
            align-content: space-between;

            .radio-group {
                overflow: hidden;

                .radio-component {
                    overflow: auto;
                    height: auto;

                    .icon-style {
                        vertical-align: middle;
                    }
                }
            }

            .dropdown-block {
                padding: 2px;

                .drop-down-icon {
                    font-size: 14px;
                    width: 23px;
                    height: 23px;
                    display: flex;
                    justify-items: center;
                    justify-content: center;
                    align-items: center;
                    flex: 0 0 auto;
                    margin: 0;
                    padding: 0;
                    cursor: pointer;
                    color: var(--text-base);
                    z-index: 1000;
                    border: solid var(--divider-color) 1px;
                    border-radius: 4px;

                    &:hover {
                        background-color: #ffffff00;
                        color: var(--primary);
                    }
                }
            }
        }

        .content-item {
            width: 100%;
            overflow: overlay;
            height: 100%;

            .content-move {
                height: 100%;
                width: 100%;
            }

            .item-fields {
                display: flex;
                justify-content: space-between;
                padding: 2px 4px;
                border-bottom: solid var(--divider-color) 1px;
                align-items: center;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.025);
                }

                .label {
                    display: flex;
                    padding: 0 5px 0 0;
                    align-items: center;
                    min-width: min-content;
                    width: 40%;
                }

                .value {
                    max-width: max-content;
                }

                .value-link {
                    max-width: 60%;
                }

                .value-email {
                    max-width: 60%;
                    text-align: right;
                    cursor: pointer;
                    color: var(--primary);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .text-ellipsis {
                    text-align: right;
                }
            }

            .ant-empty-image {
                height: 20px;
            }
        }
    }

    .footer-popup {
        padding: 0;
        display: flex;
        width: 100%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: move;
        justify-content: space-between;
        align-items: center;
        height: 24px;
        border-top: solid rgba(0, 0, 0, 0.04) 1px;
    }
}

.copy_to_clipboard {
    height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    margin: auto;

    .ant-btn-icon {
        margin: auto;
    }

    button {
        width: 24px;
    }

    svg.icon {
        margin: 0;
        height: 18px;
        width: 18px;
    }
}

.footer-coordinate-component {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .coordinate-value {
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        line-height: normal;
        height: 24px;
        border-radius: 0 0 3px 3px;

        &:hover {
            color: var(--primary);
        }

        .icon-location {
            padding: 0 5px;
            font-size: 10px;
        }

        .coords {
            padding: 0;
        }
    }

    .link-copy {
        display: flex;
        align-items: center;
    }
}


.icon-position-popup {
    left: -5px;
    top: -5px;
    position: absolute;
    pointer-events: none;
    line-height: 0;
    color: white;
    font-size: 9px;
}

.context-position {
    overflow: auto;
    padding: 0;
    min-width: 100px;
    background: #ffffff;
    border-radius: 3px;
    border: solid var(--divider-color) 1px;
    box-sizing: border-box;
    user-select: text;
    pointer-events: auto;
    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
    z-index: 1;

    .context-coords {
        font-weight: 500;
        display: flex;
        padding: 0 5px;
        justify-content: center;
        align-items: center;
        border-bottom: solid var(--divider-color) 0.005em;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        cursor: pointer;
    }

    .context-item {
        cursor: pointer;
        padding: 5px;
        user-select: none;
        height: 24px;

        &:hover {
            background-color: #F5F5F5;
            padding: 5px;
            border-radius: 3px;
        }
    }
}

.label-select {
    width: 100%;
    display: flex;
    align-items: center;

    .label-feature {
        max-width: 50%;
        flex: auto;
        overflow: hidden;
        white-space: nowrap;
        padding: 0 3px 0 0;
        text-overflow: ellipsis;
    }

    .label-style {
        max-width: 50%;
        flex: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: normal;
        text-align: right;
        color: var(--text-secondary);
    }
}

.error-component {
    display: flex;
    justify-content: center;
}