* {
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100%;
	letter-spacing: normal;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	.ant-tooltip {
		pointer-events: none !important;
	}
	.wrapper-webgis {
		min-height: 100vh;
		display: grid;
		grid-template-rows: auto 1fr auto;

		.ant-typography {
			color: rgb(255, 255, 255);
			word-break: break-word;
			line-height: 1.5714285714285714;
		}

		a:hover {
			color: #2A388C !important;
		}

		.main {
			margin: 0 10%;

			.content {
				display: flex;
				flex-direction: column;
				padding: 24px 0 0px 0;

				.search-block {
					max-width: 500px;

					:where(.css-dev-only-do-not-override-1eo065b).ant-input-affix-wrapper .ant-input-prefix {
						margin-inline-end: 10px;
					}

					:where(.css-dev-only-do-not-override-1eo065b).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
						border-color: #ffffff00;
						z-index: 1;
					}

					:where(.css-dev-only-do-not-override-1eo065b).ant-input-affix-wrapper:hover {
						border-right-color: #ffffff00 !important;
						border-left-color: #ffffff00 !important;
						border-top-color: #ffffff00 !important;
						border-bottom-color: #2a388c !important;
					}


					:where(.css-dev-only-do-not-override-1eo065b).ant-input-affix-wrapper:focus,
					:where(.css-dev-only-do-not-override-1eo065b).ant-input-affix-wrapper-focused {
						border-right-color: #ffffff00 !important;
						border-left-color: #ffffff00 !important;
						border-top-color: #ffffff00 !important;
						border-bottom-color: #2a388c !important;
						box-shadow: 0 0 0 0 #ffffff00;
						outline: 0;
					}

					:where(.css-dev-only-do-not-override-1eo065b).ant-input-affix-wrapper {
						border-bottom-color: #2a388c;
						border-radius: 0;
						border-right-color: #ffffff00;
						border-left-color: #ffffff00;
						border-top-color: #ffffff00;
					}
				}

				.menu-maps {
					margin-top: 24px;
					display: flex;

					.menu-list {
						max-width: 300px;
					}

					.ant-menu-inline {
						border-inline-end: 0px solid #ffffff00 !important;
						user-select: none;
					}

					.content-maps-grid {
						text-align: center;
						color: #000;
						background-color: #ffffff00;
						padding: 0px;
						width: 100%;

						.ant-card-cover {
							margin: 0;
							border-bottom: 0.005em solid rgb(42 56 140 / 50%);
							user-select: none;
						}

						.ant-card-body {
							padding: 0;
							border-radius: 0;
							background: #FFFAFA;
						}

						.ant-card-meta-detail {
							overflow: hidden;
							display: flex;
							flex: 1;
							flex-direction: column;
							justify-content: space-around;
						}

						.ant-layout .ant-layout-sider {
							position: relative;
							min-width: 0px;
							background: #ffffff;
							transition: all 0s, background 0s;
						}

						.img_preview {
							height: 200px;
							margin: 0;
							object-fit: contain;
							padding: 0;
							border-top-right-radius: 2px;
							border-top-left-radius: 2px;
							width: 100%;
						}

						.img_preview_none {
							height: 168px;
						}

						.ant-card {
							border-radius: 2px;
						}

						.content_group {
							display: grid;
							grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
							justify-items: center;

							.icon-open-map {
								margin: 0px 0px 0px 10px;
								color: #2a388c;
								border: 1px solid #2a388c;
								padding: 0 0px;
								border-radius: 2px;
								line-height: 1;
							}

							a {
								color: #2a388c;
								display: flex;
								align-items: center;
								font-size: 24px;
								padding: 5px 16px;
							}

							.open-map {
								color: #2a388c;
								text-transform: uppercase;
							}

							svg {
								color: #2a388c;
							}

							.ant-card-meta {
								margin: 0;
								display: flex;
								font-weight: 500 !important;
								height: 117px !important;
							}

							.ant-card-meta-title {
								margin: 5px 16px;
								color: #000000;
								font-weight: 400;
								font-size: 16px;
								overflow: hidden;
								white-space: initial;
								text-overflow: ellipsis;
								line-height: 20.7px;
								text-align: left;
								letter-spacing: normal;
								-webkit-line-clamp: 3;
								display: -webkit-box;
								-webkit-box-orient: vertical;
							}

							.ant-card-meta-detail>div:not(:last-child) {
								margin-bottom: 5px;
							}

							.ant-card-bordered {
								border: 0px solid #ffffff00;
								display: flex;
								flex-direction: column;
								justify-content: space-between;
							}

							.ant-card-hoverable {
								cursor: auto;
								transition: box-shadow 0s, border-color 0s;
								border: 0.005em solid #0000000e;
							}
						}
					}
				}
			}
		}
	}

}

.webgis-map-filter-dropdown {
	.ant-select-item {
		padding: 2px !important;
	}

	.ant-select-dropdown .ant-select-item-option-content {
		display: flex;
		align-items: center;
	}


	.title {
		margin: 0;
		padding: 0 4px;

		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 470px;
		white-space: nowrap;

	}
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: rgba(42, 57, 140, 0.65) !important;
}