.footer-webgis {
	background-color: #212020;
    padding: 0 10% 0 10%;
    color: #fff;
    height: auto;
    display: flex;
    margin-top: 0;
    flex-direction: column;
    justify-content: flex-end;

	.footer-info {
		padding: 20px 0 0 0;
		display: flex;
		width: 100%;
		height: auto;
		justify-content: space-evenly;
	}

	.uriit-logo {
		height: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 64px;
		margin: 0 90px 0 0;
	}

	.block-info {
		width: 100%;
	}

	.title-info {
		text-transform: uppercase;
	}

	.content-services {
		display: flex;
		flex-direction: column;
		.services-a {
			text-transform: uppercase;
		}
		.services-b {
			padding: 0px 0px 0px 5px;
		}
	}

	.content-info {
		display: flex;
		flex-flow: row wrap;
		min-width: 0;
		flex-wrap: nowrap;
		.info-a {
			max-width: 130px;
			margin: 0px 64px 0 0;
		}
	
		.info-b {
			width: 450px;
		}
	
		.info-b-item {
			display: flex;
			justify-content: space-between;
		}

		.item-c{
			width: 100px;
		}

		.item-d{
			width: 250px;
		}
	
	}


	.ant-typography {
		color: rgb(255, 255, 255);
		word-break: break-word;
		line-height: 1.5714285714285714;
	}

	.list-link {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.logo-uriit {
		font-size: 64px;
	}

	.ant-divider {
		background-color: #fff;
		padding: 0;
		margin: 10px 0px;
	}

	.uriit-footer-name {
		margin: 24px 0 0 0;
	}
}