.ngw-pyramid-menu-icon {
    display: flex;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    color: var(--primary);
    line-height: 24px;
    text-align: center;

    > svg.icon {
        color: inherit;
        font-size: 24px;
    }

    > span.main {
        color: inherit;
        line-height: 34px;
    }

    > span.more {
        display: block;
        position: absolute;
        top: -6px;
        right: -2px;
        height: 16px;

        > svg.icon {
            font-size: 16px;
            line-height: 1;
        }

        &-success {
            color: var(--success);
        }

        &-danger {
            color: var(--danger);
        }
    }
}

.ngw-pyramid-menu-drawer {
    .ant-drawer-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.04);
        height: 40px;
        padding: 11px 5px;

        .ant-drawer-header-title .ant-drawer-close {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .ant-drawer-body {
        padding: 0px;

        a {
            display: block;
            padding: 12px 24px;
            color: var(--text-base);
            line-height: 1.25;
            text-decoration: none;

            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }

            &.notification-success {
                background-color: var(--surface-bg-success);
            }

            &.notification-danger {
                background-color: var(--surface-bg-danger);
            }
        }
    }
}
