.preview-image {
    cursor: pointer;
    margin: 4px;

    &:hover {
        box-shadow: 0px 0px 4px 1px rgb(2 34 60 / 50%);
    }
}

.image-portal {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1080;

    .close-block {
        right: 16px;
        display: flex;
        top: 16px;
        align-items: center;
        justify-content: center;
        z-index: 1001;
        position: absolute;

        button {
            color: rgba(255, 255, 255, 0.85);
            background-color: rgba(0, 0, 0, 0.2);
            font-size: 24px;
            border-radius: 50%;

            &:hover {
                background-color: rgba(0, 0, 0, 0.35) !important;
                color: rgba(255, 255, 255, 1) !important;
            }
        }
    }

    .mask {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.45);
    }

    .image-block {
        position: fixed;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        outline: 0;

        img {
            max-height: 95vh;
            max-width: 95vw;
            vertical-align: middle;
            user-select: none;
        }
    }

    .size-button {
        width: 42px;
        height: 42px;
    }

    .controls {
        height: 44px;
        bottom: 0;
        width: fit-content;
        position: fixed;
        z-index: 1001;
        background-color: rgba(0, 0, 0, 0.2);
        right: 50%;
        transform: translate(50%, -50%);
        display: flex;
        align-items: center;
        padding: 0px 22px;
        border-radius: 22px;

        button {
            color: rgb(235 235 235 / 85%);
            font-size: 24px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0) !important;

            &:hover {
                background: rgba(0, 0, 0, 0) !important;
                color: rgba(255, 255, 255, 1) !important;
            }
        }

        .margin-button {
            margin: 0 0 0 10px;
        }
    }
}