.row-selected {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 5px;
    flex-direction: column;

    .item-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .control-item {
            display: flex;
        }
    }


    .label-child-element {
        display: flex;
        align-items: center;
        width: 100%;

        .label-child {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.mode-raster-select {
    padding: 0 5px;
}