.ngw-webmap-selected-feature-panel {
    .ngw-webmap-panel-content {
        gap: 0;
    }

    .ngw-webmap-panel-padded {
        padding-inline: 0;
        padding-block: 0;
    }

    .row-selected {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 5px;
        flex-direction: column;

        .checked {
            color: var(--primary);
            font-weight: bold;
        }

        .item-label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px 0 0 0;

            .label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 500;
                display: block;
                text-align: start;
                width: 100%;
            }
        }

        .label-child-element {
            display: flex;
            align-items: center;
            margin: 5px 0;
            color: #50575d;
            gap: 5px;
            width: 100%;
            justify-content: space-between;

            .index-lf {
                width: 10px;
                height: 10px;
                background-color: var(--text-secondary);
                clip-path: circle(2px);
            }

            .label {
                display: flex;
                flex-direction: column;
                height: 32px;
                justify-content: space-between;
            }

            .label-group {

                .feature-name,
                .sub-feature-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: block;
                    text-align: start;
                    width: 100%;
                }

                .sub-feature-name {
                    color: var(--text-secondary);
                }



                .sub-checked {
                    color: var(--text-base);
                }
            }

            .label-child {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                text-align: start;
                width: 100%;
            }
        }
    }

    .control-visible {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .control-item {
        display: flex;
        gap: 6px;

        button {
            font-size: 18px;

            svg {
                color: var(--text-base);
            }
        }
    }
}

.popover-class {
    .icon-description {
        font-size: 18px;
        color: var(--text-base);
        display: flex;
        justify-content: center;
    }
}