.ant-upload.ant-upload-drag {
    height: 60px;
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
    color: var(--primary);
    font-size: 24px;
}

.ant-upload.ant-upload-drag .ant-upload-btn {
    display: table;
}

.ant-upload.ant-upload-drag .anticon-plus {
    color: rgba(0,0,0,.25);
    font-size: 24px;
    transition: all .3s;
}

.ant-upload.ant-upload-drag p.ant-upload-text {
    color: rgba(0,0,0,.85);
    font-size: 14px;
    margin: 0;
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon {
    margin-bottom: 0;
}

.ant-upload.ant-upload-drag .ant-upload {
    padding: 0;
}