html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.preview-image {
    cursor: pointer;
    margin: 4px;

    &:hover {
        box-shadow: 0px 0px 4px 1px rgb(2 34 60 / 50%);
    }
}

.image-portal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1080;

    .image-block {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .close {
            right: 16px;
            display: flex;
            top: 16px;
            align-items: center;
            justify-content: center;
            position: fixed;
            z-index: 1081;

            button {
                color: rgb(200, 200, 200);
                background-color: var(--primary);
                font-size: 24px;
                border-radius: 50%;

                &:hover {
                    background-color: var(--primary) !important;
                    color: rgba(255, 255, 255, 1) !important;
                }
            }
        }

        .controls {
            height: 44px;
            bottom: 0;
            width: fit-content;
            position: fixed;
            background-color: var(--primary);
            right: 50%;
            transform: translate(50%, -50%);
            display: flex;
            align-items: center;
            padding: 0px 22px;
            border-radius: 22px;
            z-index: 1081;

            button {
                color: rgb(200, 200, 200);
                font-size: 24px;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0) !important;

                &:hover {
                    background: rgba(0, 0, 0, 0) !important;
                    color: rgba(255, 255, 255, 1) !important;
                }
            }

            .margin-button {
                margin: 0 0 0 10px;
            }
        }

        .content-block {
            img {
                max-height: 90vh;
                max-width: 90vw;
                user-select: none;
            }
        }
    }

    .size-button {
        width: 42px;
        height: 42px;
    }
}