.grid-content {
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
  }
  .grid-block {
    --ant-display: block;
    display: block;
    display: var(--ant-display);
    flex: 0 0 83.33333333333334%;
    max-width: 83.33333333333334%;
    position: relative;
    max-width: 100%;
    min-height: 1px;
  }
  .left-block {
    --ant-display: block;
    display: block;
    display: var(--ant-display);
    flex: 0 0 8.333333333333332%;
    max-width: 8.333333333333332%;
    position: relative;
    max-width: 100%;
    min-height: 1px;
  }
  .right-block {
    --ant-display: block;
    display: block;
    display: var(--ant-display);
    flex: 0 0 8.333333333333332%;
    max-width: 8.333333333333332%;
    position: relative;
    max-width: 100%;
    min-height: 1px;
  }
  .block {
    background: rgba(170, 232, 255, 0.694);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .static {
    background: rgba(161, 169, 172, 0.375);
  }
  .content-block {
    position: absolute;
    border: rgb(114, 106, 106) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
  }
  
  .edit-block {
    font-size: 12px;
    position: absolute;
    border: rgb(114, 106, 106) solid 1px;
    box-sizing: border-box;
    overflow: auto;
    padding: 5px;
    overflow-wrap: break-word;
    height: 100%;
  }
  