.dropdown-content {
  background: #fff;
  box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
  // border: 0.05em solid #02223c2b;
}
  .dropdown-content .ant-dropdown-menu {
    box-shadow: none;
    border-radius: 3px;
  }

.dropdown-content {
  border-radius: 3px;
}

.iconSize {
  font-size: 18px;
  color: #106a90;
}

.customStyle {
  .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    padding: 3px 6px;
  }
  .ant-space-vertical {
    padding: 0px 6px !important;
}
}
