.dropdown-file .ant-dropdown-menu {
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

	.ant-dropdown-menu-title-content .ant-dropdown-menu-item-extra {
		padding-inline-start: 0;
	}

	.ant-dropdown-menu-item-active {
		background-color: transparent !important;
	}

	.ant-dropdown-menu-title-content {
		flex: auto;
	}

	.ant-dropdown-menu-item,
	.ant-dropdown-menu-submenu-title {
		padding: 0;
	}

	.ant-btn {
		padding: 4px;
		border-radius: 4px;
	}

	.ant-dropdown-menu {
		padding: 0;
	}

	.ant-dropdown-menu-title-content {
		overflow: hidden;
	}

	.title-file {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		height: 40px;
	}

	.dowload-file {
		height: 40px;
	}

	.linkFile {
		font-size: 14px;
		line-height: normal;
	}

	.fileTitle {
		display: flex;
		color: rgba(0, 0, 0, 0.45);
	}

	.fileName {
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		white-space: nowrap;
		color: var(--primary);
		max-width: 250px;
		text-align: left;
	}
}