.colIconLegend {
  font-size: 18px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 5px;

  &:hover {
    background: #1d405e34;
    border-radius: 3px;

  }
}

.colNot {
  font-size: 18px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  cursor: auto;
}

.LayerIcon {
  max-height: 350px;
  overflow: overlay;


  .ant-dropdown-menu-title-content {
    flex: auto;
    max-width: 350px;
  }

  .ant-dropdown-menu {
    padding: 0;
  }

  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    padding: 0;
  }

  .ant-dropdown-menu {
    width: auto;
    overflow: hidden;
  }

  .ant-dropdown-show-arrow.ant-dropdown-placement-bottom,
  .ant-dropdown-show-arrow.ant-dropdown-placement-bottomLeft,
  .ant-dropdown-show-arrow.ant-dropdown-placement-bottomRight {
    pointer-events: none;
  }

  .legend-symbol {
    display: flex;
    column-gap: 6px;
    align-items: center;
    padding: 0px 6px;
    max-width: 350px;

    &:not(:last-child) {
      margin: 0 0 3px 0;
    }

    cursor: pointer;
    // &:hover {
    //   background-color: #eee;
    // }
  }
}

