.ngw-webmap-layers-tree.ant-tree {
    &.ant-tree-show-line {
        --ngw-webmap-layers-tree-indent: 20px;
        --ngw-webmap-layers-tree-switcher: 24px;
    }

    .ant-tree-treenode {
        padding: 0;

        >.ant-tree-indent {
            >.ant-tree-indent-unit {
                width: var(--ngw-webmap-layers-tree-indent);

                &::before {
                    inset-inline-end: 8px;
                }
            }
        }

        >.ant-tree-switcher {
            margin-inline-end: 0;
            width: var(--ngw-webmap-layers-tree-switcher, 6px);

            >.ant-tree-switcher-leaf-line {
                &::after {
                    width: 6px;
                    height: 14px;
                }
            }
        }

        &.ant-tree-treenode-leaf-last {
            >.ant-tree-switcher {
                >.ant-tree-switcher-leaf-line {
                    &::before {
                        height: 14px !important;
                    }
                }
            }
        }

        &.ant-tree-treenode-selected {
            // background-color: transparent;
            background-color: rgb(217 217 217 / 15%);
            font-weight: bold;
        }
    }

    .ant-tree-switcher-line-icon {
        vertical-align: -0.2em;
    }

    .ant-tree-checkbox {
        top: initial;
        margin-inline-end: 0px;
        align-self: flex-start;
        margin-top: 4px;
    }

    .ant-tree-node-content-wrapper {
        display: flex;
        width: 100%;
        min-width: 0;
        align-items: center;

        &:hover {
            background: transparent;
        }

        .ant-row {
            margin: 0;
        }

        &.ant-tree-node-selected {
            background-color: transparent;
        }

        .ant-tree-icon__customize {
            img {
                vertical-align: text-top;
            }
        }

        .ant-tree-title {
            width: 100%;
            min-width: 0;

            .tree-item-title {
                min-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;

                .item-title {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    flex-wrap: nowrap;
                    gap: 5px;

                    .icon-resources {
                        margin: 0 10px;
                    }

                    .edit-icon {
                        color: var(--primary);
                        width: 24px;
                        height: 24px;
                        display: flex;
                        justify-items: center;
                        justify-content: center;
                        align-items: center;
                        flex: 0 0 auto;
                    }

                    .checked-edit {
                        color: var(--danger);
                    }

                    .legend-title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .edit-title {
                        font-weight: bold;
                        color: var(--danger);
                        padding: 0 2px 0 0;
                    }
                }
            }

            .tree-item-action {
                display: flex;
                flex-direction: row;
                justify-content: end;
            }

            &:hover {
                background: #ffffff00;
                border-radius: 3px;
                color: #000000;
            }

        }
    }
}

.tree-item-menu {
    .ant-dropdown-menu-title-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 5px;
        align-items: center;
    }
}

:where(.css-dev-only-do-not-override-1j0bb9m).ant-tree .ant-tree-node-content-wrapper:hover,
:where(.css-dev-only-do-not-override-1j0bb9m).ant-tree .ant-tree-checkbox+span:hover {
    background-color: #ffffff00;
}

.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {
    font-size: 24px;
    color: #106a90;
    width: 24px;
    height: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 1px;
}

.ant-tree .ant-tree-treenode {
    align-items: center;
    display: flex;
    outline: none;
    padding: 0;
    margin: 3px 0;
}

.more,
.legend {
    font-size: 18px;
    color: #106a90;
    width: 24px;
    height: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}



.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle,
.ant-tree .ant-tree-checkbox+span .ant-tree-iconEle {
    display: flex;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    align-items: center;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected,
.ant-tree .ant-tree-checkbox+span.ant-tree-node-selected {
    background-color: #ffffff00;
}

.ant-tree .ant-tree-switcher-leaf-line:before {
    position: absolute;
    top: -10px;
    inset-inline-end: 12px;
    bottom: -11px;
    margin-inline-start: -1px;
    border-inline-end: 1px solid #d9d9d9;
    content: "";
}

.ant-tree-show-line .ant-tree-indent-unit:before {
    position: absolute;
    top: -10px;
    inset-inline-end: 12px;
    bottom: -10px;
    border-inline-end: 1px solid #d9d9d9;
    content: "";
}

.legend-list {
    margin: 0 5px 0 0;
}

.show-resource {
    font-size: 14px;
    color: var(--icon-color);
    padding: 4px;
    margin: 4px;

    &:hover {
        color: var(--text-base);
    }
}