.ngw-webmap-layers-tree {
    .ant-tree-treenode {
        padding: 0;
    }

    &:not(.ant-tree-show-line) .ant-tree-switcher-noop {
        width: 6px;
    }

    &.ant-tree-show-line {
        .ant-tree-indent-unit {
            width: 18px;

            &::before {
                right: 6px;
            }
        }
    }

    .ant-tree-switcher-line-icon {
        vertical-align: -0.55em;
    }

    .ant-tree-checkbox {
        margin: 8px 6px 0px 0px;
    }

    .ant-tree-node-content-wrapper {
        display: flex;
        align-items: center;
        column-gap: 6px;
        width: 100%;
        min-width: 0;
        padding-left: 0;
        line-height: 28px;

        &:hover {
            background: none;
        }

        .ant-row {
            margin: 0;
            display: flex;
            align-items: center;
            line-height: 32px;
        }

        &.ant-tree-node-selected {
            background-color: transparent;
        }

        .ant-tree-icon__customize {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 28px;
            width: auto;

            img {
                display: block;
            }
        }

        .ant-tree-title {
            min-width: 0;
            width: 100%;

            .tree-item-title {
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .tree-item-action {
                flex-direction: row;
                display: flex;
                justify-content: end;
            }

            .legend-list {
                margin: 0 6px 0 0;
            }

            .legend-toggle {
                font-size: 24px !important;
            }

            .more,
            .legend {
                font-size: 18px;
                color: #106a90;
                width: 24px;
                height: 24px;
                display: flex;
                justify-items: center;
                justify-content: center;
                align-items: center;
                flex: 0 0 auto;

                &:hover {
                    background: #ececec;
                    border-radius: 3px;
                    color: #000000;
                }
            }
        }
    }
}

.tree-item-menu {
    .ant-dropdown-menu-title-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 5px;
        align-items: baseline;
    }
}

.colNot {
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    cursor: auto;
}

.colSingleIconLegend {
    margin: 0 2px;

    &:hover {
        background: #ececec;
        border-radius: 3px;
    }
}

.colIconLegend {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    margin: 0;

    &:hover {
        background: #e4e4e477;
        border-radius: 3px;
    }
}

.icon-list {
    margin: 0 5px 0 0;
}