.ant-picker-focused.ant-picker {
  border-color: #02223c29;
  box-shadow: 0 3px 7px #02223c29;
  outline: 0;
  background-color: white;
  border-radius: 5px;
}

.ant-dropdown {
  border-color: #02223c29;
  box-shadow: 0 3px 7px #02223c29;
  outline: 0;
  background-color: white;
  border-radius: 5px;
}
.ant-picker-time-panel {
  display:none !important;
}