.date-picker-panel {
  display: flex;
  align-items: center;
}

.ant-picker-focused.ant-picker {
  border-color: rgba(255, 255, 255, 0);
  outline: 0;
  background-color: white;
  border-radius: 5px;

}

.ant-dropdown {
  border-color: rgba(255, 255, 255, 0);
  outline: 0;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 3px 7px rgba(2, 34, 60, 0.16);
}

.ant-picker-time-panel {
  display: none !important;
}

.ant-picker {
  border: 1px solid rgba(255, 255, 255, 0);
}

.ant-picker-range:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

.ant-picker-focused.ant-picker:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

.button-style {
  font-size: 18px;
  color: #106a90;
  width: 32px;
  height: 32px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.ant-picker-focused {
  border-color: #ffffff00;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  outline: 0;
}