.timeline-block {
  bottom: 100px;
  width: 500px;
  height: 150px;
  background: #fff;
  border: 1px solid #106a90;
  border-radius: 3px;
  position: fixed !important;
  top: 41px !important;
  right: 1px !important;
}