.ngw-breabcrumb-panel {
    display: flex;
    flex-direction: column;

    .title-item {
        display: flex;
        align-items: center;

        .title {
            padding: 0 0 0 4px;
            color: var(--primary);
            font-family: var(--ngw-head-font-family-list);
        }
    }
}
.dropdown-items{
    max-height: 350px;
}