.descItemMap {
    width: 100%;
    padding: 0;

    span {
        display: block;
        overflow-wrap: break-word;
    }

    a {
        color: #106a90;
    }

    .img-style {
        width: 100%;
        display: flex;
        justify-content: center;

        .img-item {
            width: 50%;
        }
    }

    .p-padding {
        display: block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 5px;
        margin-inline-end: 5px;
        margin: 5px;
    }

    figure {
        margin: 5px;
    }

    table,
    tbody,
    tr,
    td {
        border: 0.005em solid var(--divider-color);
        border-collapse: collapse;
        text-align: center;

        tr,
        td {
            border-spacing: 0;
            padding: 0 5px 0 5px;
        }
    }
}