.descItem{
    width: 100%;
    padding: 5px;
    span {
        display: block;
        overflow-wrap: break-word;
    }
    a {
        color: #106a90;
    }

    .imgDesc {
        max-width: 128px;
        display: flex;
        justify-content: flex-start;
    }
}
