.ngw-webmap-diagram-panel {
    display: flex;
    flex-direction: column;
    height: 100%;

    .results {
        padding: 2px;
        flex: auto;
        overflow-y: auto;

        .diagram-button {
            display: flex;
            justify-content: space-between;
        }
    }

}