.ngw-webmap-diagram-panel {
    display: flex;
    flex-direction: column;
    height: 100%;

    .results {
        padding: 2px;
        flex: auto;
        overflow-y: auto;

        .diagram-button {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 5px;
        }

        .diagram-button-old-new {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 0 0 5px 0;
        }

        .diagram-content {
            height: 300px;
        }

        .ant-divider-horizontal {
            display: flex;
            clear: both;
            width: 100%;
            min-width: 100%;
            margin: 5px 0 10px 0;
        }
    }

}