.ngw-webmap-diagram-panel {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .diagram-content {
        height: 750px;
        padding: 5px;
    }

    .icon-symbol {
        font-size: 18px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        color: #106a90;
    
        &:hover {
            background-color: #acacac20;
            border-radius: 3px;
        }
    }

    .item-graph {
        display: flex;
        justify-content: space-between;
        margin: 5px;
        align-items: center;
    }
    .item-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}