.graph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.button-graph {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.relation-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}