.graph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.right-graph {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px dotted var(--divider-color);
}

.button-graph {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.right-button-graph {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.relation-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.legend-hide-button {
    display: inline-flex;
    justify-content: flex-end;
    padding: 0 5px;
    position: absolute;
    right: 0;
    border-radius: 2px;
    border: 1px solid var(--divider-color);
    background: rgb(255 255 255);
    z-index: 1000;

    &:hover {
        background-color: var(--icon-color) !important;
        color: var(--primary) !important;
        border-radius: 2px !important;
        z-index: 1000 !important;
    }
}