.graph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.right-graph {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px dotted var(--divider-color);
}

.button-graph {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.right-button-graph {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.relation-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}